@page
@model MedicalCenter.Pages.MedicalStaff.DeleteModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("MedicalStaff") + localizer.Get("Delete");
}

<h1>@localizer.Get("Delete")</h1>

<h3>@localizer.Get("DeleteConfirmation")</h3>
<div>
    <h4>@localizer.Get("MedicalStaff")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalStaff.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalStaff.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalStaff.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalStaff.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalStaff.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalStaff.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalStaff.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalStaff.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalStaff.Specialisation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalStaff.Specialisation)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="MedicalStaff.Id" />
        <input type="submit" value="@localizer.Get("Delete")" class="btn btn-danger" /> |
        <a asp-page="./Index">@localizer.Get("BackToList")</a>
    </form>
</div>
