@page
@model MedicalCenter.Pages.Room.DetailsModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("Room") + localizer.Get("Details");
}

<h1>@localizer.Get("Details")</h1>

<div>
    <h4>@localizer.Get("Room")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.IsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.IsAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Room.Id">@localizer.Get("Edit")</a> |
    <a asp-page="./Index">@localizer.Get("BackToList")</a>
</div>
