@page
@inject CommonLocalizationService localizer
@model IndexModel
@using Microsoft.AspNetCore.Localization
@{
    ViewData["Title"] = localizer.Get("Localisation");
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<div class="text-center">
    <h1 class="display-4">@localizer.Get("Welcome")</h1>
    <table class="table culture-table">
        <tr>
            <td style="width:50%;">@localizer.Get("Culture")</td>
<td>@requestCulture.Culture.DisplayName {@requestCulture.Culture.Name}</td>
        </tr>
        <tr>
            <td>UI @localizer.Get("Culture")</td>
            <td>@requestCulture.UICulture.Name</td>
        </tr>
        <tr>
            <td>UI @localizer.Get("CultureParent")</td>
     <td>@requestCulture.UICulture.Parent</td>
        </tr>
        <tr>
            <td>@localizer.Get("Date")</td>
        <td>@DateTime.Now.ToLongDateString()</td>
        </tr>
        <tr>
            <td>@localizer.Get("Currency")</td>
        <td>
                @(12345.00.ToString("c"))
            </td>
        </tr>
        <tr>
            <td>@localizer.Get("Number")</td>
        <td>
                @(123.45m.ToString("F2"))
            </td>
        </tr>
    </table>
</div>
